@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: #2e2e2e;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    overflow: hidden;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}

@media (min-width:768px) {
    .wrapper {
        height: 50rem;
        width: 25rem;
        border-radius: 40px;
        border: 10px solid #2e2e2e;
        padding: 30px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;

    /* position: relative; */
    /* justify-content: center; */
}

.container .login {
    /* display:flex ; */
    text-align: center;
    margin-top: 25px;
    margin-inline: 20px;
}

.login h1 {
    color: #9c2cf3;
    margin-bottom: 25px;
    letter-spacing: 1.2pt;
    font-size: 1.8rem;
}
.login p {
    color: #2E3A59;
    padding: 1.5rem 1.2rem 8rem 1.2rem;
    letter-spacing: 1pt;
    font-size: .9rem;
}

.screen-backdrop {
    width: 150%;
    height: 25rem;
    position: absolute;
    top: 38rem;
    z-index: -1;
    left: 60%;
    transform: translateX(-50%);
    border-radius: 50% 50% 0 0;
    background-image: url(backdrop.svg);
}

.container .form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-inline: 20px;
}
.form input:focus-within {
    outline: 2px solid #9672FB;
}

.form input {
    padding: 15px 25px;
    border-radius: 12px;
    border: 2px solid #E5EAFC;
    font-size: 14px;
    width: 100%;

}
.form input::placeholder {
    letter-spacing: 1.1px;
    color: #BFC8E8;
}

.form #password{
    padding-right: 50px;

}

.form button {
    padding: 15px 0;
    border-radius: 12px;
    margin-top: 10px;
    border: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.form #sign_in {
    background-image: linear-gradient(180deg, #9c2cf3, #3a49f9);
}

.form #google_login {
    background-color: #E5EAFC;
    color: #2E3A59;

}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #BFC8E8; /* Cor do ícone */
}